h1{
    font-size: 45px;
    color:white;
}
body {
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
/* bannersection */
.container {
    background: #2D25A0;
}
.bannerdetails {
    margin: 200px 150px;
    width: 485px;
    height: 230px;
}
.banners {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.bannerimage {
    margin-top: 153px;
    margin-right: 142px;
    margin-bottom: 70px;
}
.bannerimage img {
    width: 556.01px;
    height: 438px;
}
.buttontype {
    color:white;
    text-decoration: none;
    padding:20px 20px;
    font-weight: 900;
    font-size: 15px;
    width: 168px;
    height: 44px;
    left: 156px;
    top: 464px;
    background: #E02C6D;
}
.buttonbelow {
    margin-top: 60px;
}
/* playerinfo */
.sectionplayers {
    margin-left: 180px;
    margin-right: 200px;
    margin-top: 60px;
}
.player {
    width: 330px;
    padding:20px;
    box-shadow: 0px 0px 40px 0px #00000026;
}
.player img {
    width: 300px;
    height: 256px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.playersinfo {
    width: 300px;
    height: 154px;
}
/* video */
.videosection {
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 60px;
}
.videosectiondiv {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}
.videos {
    width:1200px;
    height:500px;
}
.videoheader {
    text-align: center;
}
/* bestplayersection */
.goal-sectionplayers {
    margin-left: 180px;
    margin-right: 200px;
    margin-top: 60px;
}
.goal-player {
    width: 330px;
    padding:20px;
}
.goalheader {
    text-align: center;
}
.goal-player img {
    width: 300px;
    height: 256px;
    border-radius: 100px;
}
.goal-players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.bestplayer img {
    width: 300px;
    height: 256px;
    margin-left:50px;
}
.mostgoals {
    width:80%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.goalsection h2 {
    text-align: center;
}
.mostgoals h3 {
    text-align: center;
}
.goal-playerinfo h2,p
{
    text-align: center;
}
/* footer */
footer {
    margin: 60px 480px;
    width: 483.87px;
    height: 227px;
}
footer img {
    width:90%;
    height:50%;
}
.socialmediaicon {
    width: 160px;
    height: 32px;
    margin-left: 230px;
}
.fab {
    margin:10px;
}
.footerinfo {
    margin-left: 200px;
    font-size: 18px;
}
/* media screen for mobiles */
@media only screen and (max-width: 668px) {
    .body {
       margin:0px;
   }
   /* banner */
    .container {
        width:100%;
        background: #2D25A0;
   }
    .bannersection {
        width:100%;
        margin:0px;
   }
    .banners {
        width:100%;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
   }
    .bannerdetails {
        width:100%;
        height: 138px;
        margin-left: 16px;
        margin-top: 112px;
   }
    .bannerimage img {
        width: 229.59px;
        height: 253.25px;
   }
    .player,.banners {
        align-items: center;
        flex-direction: column;
   }
   /* playerinfo */
    .sectionplayers {
        margin-left: 0px;
   }
    .player {
        width: 330px;
        height: 474px;
        box-shadow: 0px 0px 40px 0px #00000026;
   }
    .player img {
        width: 300px;
        height: 256px;
   }
    .players {
        grid-template-columns: repeat(1,1fr);
        padding: 15px;
   }
    .playersinfo {
        width: 300px;
        height: 154px;
   }
   /* video */
    .videosection {
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 0px;
        width: 500px;
        height:500px 
   }
    .videosectiondiv {
        grid-template-columns: repeat(1,1fr);
   }
    .videoheader {
        text-align: start;
   }
   
    .videos {
        width:450px;
        height:300px;
   }

   /* top players */
    .goal-sectionplayers {
        margin-left: 10px;
        margin-right: 10px;
   }
    .goal-player {
        width: 330px;
        padding:20px;
   }
    .goalheader {
        text-align: start;
   }
    .goal-player img {
        width: 300px;
        height: 256px;
        border-radius: 100px;
   }
    .goal-players {
        grid-template-columns: repeat(1,1fr);
   }
    .bestplayer img {
        width: 300px;
        height: 256px;
   }
    .mostgoals {
        width:80%;
        margin:0 auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
   }
    .goalsection h2 {
        text-align: center;
   }
    .mostgoals h3 {
        text-align: center;
   }
   /* footer */
    footer {
        margin: 10px 10px;
        width: 350.87px;
        height: 227px;
   }
    footer img {
        width:90%;
        height:50%;
   }
    .socialmediaicon {
        width: 160px;
        height: 32px;
        margin-left: 90px;
   }
    .footerinfo {
        margin-left: 70px;
        font-size: 18px;
   }
}
